.filters {
    display: grid;
    row-gap: 1.5rem;
}

.filter-select {
    background-color: #1c1e22;
    height: calc(1.5em + 1rem + 2px);
    font-size: 1.171875rem;
    color: #52575c;
    border: none;
    width: 100%;
}

.filter-box {
    background-color: #32383e;
    border-radius: 2%;
}

.filter-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.75rem 0;
}

.filter-contents {
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.filter-contents > div > label, 
.filter-contents > section > div > label,
.filter-with-scrollbar > div > label {
    font-size: 1.2rem;
}

.filter-with-scrollbar {
    overflow-y: scroll;
    height: 180px;
}

@media (min-width: 600px) {
    .filters {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .filter-box {
        height: fit-content;
        margin-bottom: 1rem;
    }

    .filter-contents {
        padding: 1.5rem;
    }
}