.filters {
    display: grid;
    row-gap: 1.5rem;
}

.filter-box {
    background-color: #32383e;
    border-radius: 2%;
}

.filter-contents {
    padding: 1.5rem;
}

.filter-with-scrollbar {
    overflow-y: scroll;
    height: 180px;
}