.games {
    margin-top: 1.5rem;
    display: grid;
}

.games-item {
    background-color: #32383e;
    border-radius: 2%;
    margin-bottom: 1.5rem;
}

.games-item > picture > img {
    width: 100%;
}

.games-info {
    padding: 1.25rem;
}

.games-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.games-title > p {
    color: #aaaaaa;
}