.games {
    margin-top: 1.5rem;
    display: grid;
}

.games-item {
    background-color: #32383e;
    border-radius: 2%;
    margin-bottom: 1.5rem;
}

.games-item > picture > img {
    width: 100%;
}

.games-info {
    padding: 1.25rem;
}

.games-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games-title-text {
    font-size: 1.5rem;
    margin: 0;
}

.games-cost {
    margin: 0;
    padding: 2px;
    background-color: #4799eb;
    border-radius: 10%;
    color: white;
}

@media (min-width: 600px) {
    .games {
        margin-top: 0;
        display: grid;
    }
}