#search {
    margin: 5rem 0.5rem 1.25rem 0.5rem;
    background-color: #1c1e22;
    height: calc(1.5em + 1rem + 2px);
    font-size: 1.171875rem;
    color: #52575c;
    border: none;
}

#search:focus {
    border-color: #1c1e22;
}

header {
    display: flex;
}

header > input {
    width: 100%;
}

@media (min-width: 1200px) {

    header {
        justify-content: center;
    }

    #search {
        max-width: 1200px;
    }
}