body {
    background-color: #272b30;
    color: #aaaaaa;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-size: .9375rem;
    line-height: 1.5;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    margin: 0 1.25rem;
}

a {
    text-decoration: none;
    color: #aaaaaa;
}

@media (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 0 1.5rem;
        margin: 0 1.25rem;
    }
}

@media (min-width: 1200px) {
    main {
        justify-content: center;
        max-width: 1200px;
    }

    .main-content {
        display: flex;
        justify-content: center;
    }
}